body{
  background-color: #8ECAE6;
}
#drum-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  
  background-color: #023047;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  margin-top: 20vh;
  border-radius: 20px;
}

.drum-pad {
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  background-color:#FB8500;
}

@media (max-width: 768px) {
  .drum-pad {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .drum-pad {
    width: 100%;
  }
}